*
{
    /*estilo en la parte de arriba con la imagen y fondo */
    padding: auto;
    margin: auto;
    text-align: center
    ;
}
body {
    background-color: white;
    font-family:'Lato,sans-serif';
}
/*Estilo del contenedor 1*/
.contenedor {
    width: 50px;
    max-width: 500px;
    padding: 45px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: auto;
    height: 598;
    width: 398;
    text-align: center;
}

/*Estilo del formulario */
.contenedorformulario {
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: skyblue;
font-size: 22px;
}
/*Estilo del boton "donar" */
.btn-donar {
   background-color: yellow;
 font-size: 20px;
 display: block;
 padding: flex;
 width: 200px;
 margin: auto;
 
 


}